.card-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.margin-zero{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:small;
}
.result-margin{
    margin-top:20px;
    margin-bottom:15px;
}